*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
}


header{
    background-color: blueviolet;
}
/*________ NAVBAR________________ */
.container{
    background-color: violet;
    width: 70%;
    margin: auto;
}
 header .navbar{
    background-color: lightcoral;
 }
 .navbar{
    justify-content: space-between;
 }
 .navbar .logo{
    background-color: blue;
 }
 /* ul */
 .navbar .nav{  
 }
 .nav{
    background-color: blue;
    width: 50%;
    margin: 0;
 }
 .nav li{
    display: inline;
    list-style: none;
    color: aliceblue;
    /* float: right; */
 }
 .navbar .accedi{
    background-color: blue;
 }
 

 /* ___TEXT SUB NAVBAR___________ */
 header .home{
    background-color: aqua;
 }

 /* Home header */
 .container h1, .container.home{
    text-align: center;
 }
 /* Section */
.row{
    display: flex;
   
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.reverse{
    flex-direction: row-reverse;
}

section{
    background-color: rgb(137, 44, 44);

}
.section-reverse, .light-bk{
    background-color: burlywood;
}

 section .img{
    background-color: greenyellow;
    width: 48%;
    height: 400px;
 }
 section .text{
    background-color: green;
    width: 48%;
    height: 400px;
 }
 /*______________ 4 section__________ */
 .text-comunity{
    background-color:rgb(19, 252, 101) ;
    height: 400px;


 }
 .img-video{
    background-color: green;
    height: 400px;

 }

 .load{
    background-color: greenyellow;
    height: 400px;
 }
 .light-bk{
    padding-top: 70px;
 }

 /* ___sezione 5___ */

 columns-final{
    flex-direction: row-reverse;
 }

 .col-5{
    width: 600px;
    height: 900px;
 }

 .black{
    background-color: black;
    flex-grow: 1;
 }
 .brown{
    background-color: brown;
    flex-grow: 0;
 }
 .red{
    background-color: red;
    flex-grow: 0;
 }
